/* GeneradorCodigo.css */

.contenedor_descuento{
  /* background-color: aqua; */
  padding-left: 220px;
}
.btnCodigo{
  width: 40%;
  background: rgb(0, 140, 255);
}

.contenido_descuento img{
  width: 30px;
}
  