.card {
    border: 1px solid hsl(0, 0, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 50px;
    max-width: 500px;
    display: flex;
}

.card-image {
    max-width: 60%;
    height: auto;
    
    margin-right: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-family: Arial, sans-serif;
    margin: 0;
    color: hsl(0, 0, 20%);
}
